
<div ng-controller="CarrinhoController">
    <div class="form-group">
        <md-input-container>
            <label>cep</label>
            <input ng-model="cep">
        </md-input-container>
        <md-radio-group layout="row" ng-model="envio" ng-click="escolheEnvio()">
            <md-radio-button value="pac" class="md-primary">pac</md-radio-button>
            <md-radio-button value="sedex"> sedex </md-radio-button>
            <md-radio-button value="pedir"> pedir cep </md-radio-button>

        </md-radio-group>

        <div class="alert alert-danger" ng-show="errocep">
            <strong>Atençao!</strong> Preencha o Cep para o correto calculo do frete.
        </div>
        <div ng-show="carregando" class="col-md-12 text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
    </div>

    <md-list>
        <md-list-item class="md-3-line md-long-text">
            <div class="md-list-item-text">
                <textarea class="form-control" rows="10" id="texto" select-on-click>{{getTexto()}}</textarea>
            </div>
            <md-button aria-label="no" class="md-icon-button" ng-href="whatsapp://send?text={{getTexto(true)}})"><i class="fa fa-whatsapp" aria-hidden="true"></i></md-button>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>


</div>