<!DOCTYPE html>
<html lang="en" ng-app="tillaApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">


    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>

    <script src="../bower_components/ng-dialog/js/ngDialog.min.js"></script>

    <script src="../bower_components/x2js/xml2json.js"></script>

    <script src="../js/ng-file-model.js"></script>

    <script src="../js/tillaapp.js"></script>
    <script src="js/AliController.js"></script>



    <title>Tilla Checkout</title>

    <style>
        span{
            line-height: 25px;
            font-size: 6mm;

        }
        table {
            border-spacing: 30px;
            border-collapse: separate;
        }
    </style>
</head>

<div class="container" ng-controller="tillaCtrl">
    <div ng-controller="AliController">

        <h1>Encomendas em processamento</h1>
        <div class="checkbox">
            <label><input type="checkbox" ng-click="recarregar()" value="" ng-model="mostrarRecebidas">Mostrar Entregues</label>
        </div>
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Data compra</th>
                     <th>Produto</th>
                     <th>quantidade</th>
                     <th>Rastreio</th>
                     <th>Marcar como concluida</th>
                 </tr>
             </thead>
             <tbody>
                 <tr ng-repeat="compra in compras" >
                     <td>{{compra.data | date:'dd-MM-yyyy'}}</td>
                     <td>{{compra.produto}}</td>
                     <td>{{compra.quantidade}}</td>
                     <td>
                         <div ng-show="carregando" class="big-icon">
                             <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                         </div>
                         <div ng-hide="carregando" class="big-icon">
                             <a ng-href="{{compra.rastreio}}">{{compra.ultimostatus}}</a>
                         </div>
                     </td>
                     <td>
                        <button class="btn btn-default" ng-click="alterar(compra, $index)">
                            <span ng-show="compra.recebida">desreceber</span>
                             <span ng-show="!compra.recebida">Receber</span>
                        </button>
                        <a ng-click="deletar(compra, $index)">deletar</a>
                     </td>
                 </tr>
             </tbody>
         </table>


    <button ng-click="mostrarNovo = !mostrarNovo" class="btn btn-default">Cadastrar nova</button>
    <form ng-show="mostrarNovo">
        <div class="form-group">
            <label for="data">Data compra:</label>
            <input type="date" class="form-control" id="data" ng-model="novacompra.data">
        </div>
        <div class="form-group">
            <label for="produto">Produto:</label>
            <input type="text" class="form-control" id="produto" ng-model="novacompra.produto">
        </div>
        <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" class="form-control" id="quantidade" ng-model="novacompra.quantidade">
        </div>
        <div class="form-group">
            <label for="rastreio">Rastreio:</label>
            <input type="text" class="form-control" id="rastreio" ng-model="novacompra.rastreio">
        </div>

        <button class="btn btn-default" ng-click="criarNova()">Submit</button>
    </form>
    </div>
</div>
</body>
</html>