.logo {
    background-color: #0B1542;
    color: #ffffff;
    text-align: center;
    font-family: sans-serif;

}


.fancy {
    text-align: center;
    font-family: cursive;
}
.fancy span {
    display: inline-block;
    position: relative;
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 35px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    background-color: #8E026A;
    width: 100%;

}
.fancy span:before {
    right: 100%;
    margin-right: 5px;
}
.fancy span:after {
    left: 100%;
    margin-left: 5px;
}